.table th {
    vertical-align: middle;
}

th {
    border: 1px solid lightgray;
    vertical-align: middle;
    text-align: center;
    font-size: 15px;
    
    color: white;
    background-color: #4BA0B5;
}

.btn.btn-primary.bbswrite, .btn.btn-info.bbswrite {
    margin-right: 10px;
}